.app {
  text-align: center;
  
  	position: absolute;
		height: auto;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
    width: 100%;
    height: 100%;
		background-image: url('https://envato-shoebox-0.imgix.net/d8a2/7fb7-cb0d-499e-9185-b34d0079a0cd/1-03090.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=e5421109e2e73d3b3d4f14fa94cbbc98');
   	/* background-repeat:no-repeat; */
  	background-size:cover;
		opacity: 1;
			
		
}


